.menu-icon {
    display: none; /* Hidden by default for desktop */
    cursor: pointer;
    z-index: 101;
    font-size: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .navbar {
    display: flex; /* Horizontal layout for desktop */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 0 20px;
  }
  
  .navbar.mobile-open {
    display: block; /* Stack vertically on mobile when open */
  }
  
  .nav-link {
    margin: 0 10px; /* Spacing between links */
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease, border-bottom 0.3s ease, transform 0.3s ease;
    font-size: 1.5em;
    padding-inline: 10px;
  }
  
  .nav-link:hover, .nav-link.active-link {
    color: #4285f4; /* Highlight color for hover and active link */
    transform: translateY(-2px); /* Slight lift effect on hover */
  }
  
  .nav-link.active-link {
    border-bottom: 2px solid #4285f4; /* Bottom border for active link */
    padding-bottom: 5px; /* Adjust padding for border */
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .menu-icon {
      display: block; /* Show menu icon on mobile */
    }
    .profile{
        position:'absolute';
        left:10px;
        top: 40px;
    }
  
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column; /* Stack links vertically on mobile */
      justify-content: flex-start;
      background-color: rgba(0, 0, 0, 0.95);
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      padding-top: 100px; /* Make space for menu icon */
      display: none; /* Hide by default on mobile */
    }
  
    .navbar.mobile-open {
      display: flex; /* Show navbar when menu is open */
      transform: translateX(0);
    }
  }
  